header {
background-color: purple;
font-size: 35px;
font-family: Arial, Helvectiva, sans-serif;
color: white;
text-align: center;
padding: 10px;
}
body {
background-color: black;
}
article {
color: black;
font-family: Arial, Helvectiva, sans-serif;
background-color: lightgray;
padding: 5%;
top-margin: 5px;
}
